<!DOCTYPE html>
<html>
<head>
  <title>Sound Map</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
</head>
<body>
  <div class="leaflet-container" style="width: 900px;margin: 10px;padding: 10px;">
  <h1>Popular artists in popular cities</h1>
  <p>After seeing a map of US states with the most popular music artist for each one, I thought I'd knock up something similar using the LastFM API. This app retrieves the most popular artist for each city (or metro area) LastFM knows about.</p>
  <p>Unfortunately, the capital of South Yorkshire, Sheffield, doesn't deem being a LastFM metro area, so we do not really know who is popular there. Which is ironic when Sheffield's finest, the Arctic Monkeys are topping the charts all over the UK!</p>
  <p><b>Disclaimer: simple noddy hack by <a href="http://twitter.com/jamesjefferies">James Jefferies</a> and <a href="http://twitter.com/shedcode">ShedCode</a></b></p>
  <p>Noddy code available at<a href="https://github.com/jamesjefferies/lastfm">GitHub</a></p>
  </div>
  <div id="map" style="width: 1000px; height: 1400px"></div>
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
  <script src="javascripts/map.js"></script>
</body>
</html>
