<!DOCTYPE html>
<html>
<head>
  <title>Sound Map</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
</head>
<body>
  <div id="map" style="width: 1000px; height: 1400px"></div>
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
  <script src="javascripts/map.js"></script>
</body>
</html>
